.people-you-might-know{
    padding:0 !important;
    margin-bottom:10px;
    border-radius: 5px;
}

.btnConfig {
    pointer-events: none;
    cursor: not-allowed;
}

.likedConfig {
    margin-right: 10%;
    color: red;
}